@keyframes flip {
      from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
}

@keyframes turn {
      from {
        transform: rotateX(0deg);
      }
      to {
        transform: rotateX(360deg);
      }
}

@keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
}

@mixin delay-children($time:100ms) {
    @for $i from 1 through 50 {
      &:nth-child(#{$i}) {
        animation-delay: $time * $i;
      }
    }
}